@page "/"
@inject NavigationManager navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button type="button" class="btn btn-primary mt-3" id="CreateReview" @onclick="NavigateToReview">Crear Reseña</button>

@code {
    private void NavigateToReview()
    {
        navigation.NavigateTo("/review/selectdevicesforreview");
    }
}
